@model IEnumerable<librarymanagementsystem.Models.issue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 @using (Html.BeginForm())
{
    <p>
        Searchoption  : @Html.TextBox("SearchName")<br />
        <input type="submit" value="Search" />
    </p>
} 
<p>
    <button>@Html.ActionLink("Create New", "Create")</button>
    <button>@Html.ActionLink("BACK", "Back")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.acc.accno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.studentid)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.bookissuedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookduedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookreturndate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fine)
        </th>
        <th></th>
    </tr>

 
 @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.bookissuedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookduedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookreturndate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bookissueid }) |
            @Html.ActionLink("Details", "Details", new { id=item.bookissueid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bookissueid })
        </td>
    </tr>
}
    

</table>
